html {
    font-family: sans-serif;
    background: #f2f2f2;
    padding: 1rem
}
body {
    max-width: 960px;
    margin: 0 auto;
    background: white;
}
h1 {
    font-family: serif;
    color: rgb(31, 77, 202);
    margin: 1rem 0;
}
hr{
    border: none;
    border-top: 1px solid lightgray;
}
.content{
    padding: 0 1rem 1rem;
}
.post .about{
    color: slategray;
    font-style: italic;
}
